<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOODJA Internal System</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"></script>
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#first">MOODJA GmpH</a>
        </div>
    </div>
</nav>

<header id="first">
    <div class="header-content">
        <div class="inner">
            <h1 class="cursive">MOODJA Internal System</h1>
            <h3></h3>
            <hr>
            <a href="login.jsp" id="login" date-toggle="collapse" class="btn btn-primary btn-xl">Login</a>
        </div>
    </div>
</header>
</body>
</html>